<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração de Mesas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
</head>
<body>

 <!-- Sidebar -->
 <header th:replace="~{fragments/header :: header}">


 </header>


    <!-- Conteúdo Principal -->
    <div class="content">
        <h2>Administração de Mesas</h2>

        <!-- Botão Adicionar Mesa -->
        <div class="d-flex justify-content-end mb-3">
            <button class="btn btn-primary">+ Adicionar Mesa</button>
        </div>

        <!-- Tabela de Mesas -->
        <div class="card p-3">
            <h5 class="card-title">Lista de Mesas</h5>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Capacidade</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                     
                </tbody>
            </table>
        </div>
    </div>
     <!-- Mesa -->
     <div class="modal fade" id="newBoardModal" tabindex="-1" aria-labelledby="newBoardModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newBoardModalLabel">Nova Mesa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="mb-3 col-5">
                            <label class="form-label" for="numNewBoard">Numero de Identificação: </label>
                            <input class="form-control" type="number" id="numNewBoard" name="numNewBoard">
                        </div>
                        <div class=" mb-3 col-5">
                            <label class="form-label" for="qtdNewBoard">Lugares: </label>
                            <input class="form-control col-5" type="number" id="qtdNewBoard" name="qtdNewBoard">
                        </div>

                    </div>
                    <button type="button" class="btn btn-secondary" hx-post="/my/board/save" hx-target="#newBoard"
                        hx-trigger="click delay:500ms" hx-include="#numNewBoard,#qtdNewBoard">Salvar Mesas</button>

                    <div id="newBoard">

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Mesa Fim -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>